<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>登录</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/font-awesome/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
  <div class="container mt-2">
    <div class="row d-flex justify-content-center">
      <div class="card shadow">
        <h5 class="card-header text-white text-center py-4" style="background-color:#33b5e5">
          <strong>登录</strong>
        </h5>
        <div class="card-body pt-3 pb-3" style="padding-left:80px;padding-right:80px;">
          <form class="form-signin" th:action="@{/login}" method="post">
            <p>
              请输入用户名和密码。<br />
            </p>
            <hr />
            <p th:if="${param.error}" class="text-danger">用户名或密码不正确</p>
            <p th:if="${param.logout}" class="text-danger">您已被注销。</p>
            <div class="form-group">
              <label>用户名</label>
              <div class="input-group">
                <span class="input-group-text"><span class="fas fa-user"></span></span>
                <input type="text" id="username" name="username" class="form-control" placeholder="用户名" autofocus />
              </div>
            </div>
            <div class="form-group">
              <label>密码</label>
              <div class="input-group">
                <span class="input-group-text"><span class="fas fa-key"></span></span>
                <input type="password" id="password" name="password" class="form-control" placeholder="密码" autofocus />
              </div>
            </div>
            <div class="form-group mt-2">
              <button type="submit" class="btn btn-outline-primary">登录</button>
              <p><a href="/index" th:href="@{/index}">返回到主页</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>